<h3> Search results </h3>

<p> <%= @total_stores %> Total Stores </p>


<li>
  <% @stores.each do |store| %>
  <il id="store">
    <il>
      City: <%= store.city %>
    </il>
    <il>
      Name: <%= store.long_name %>
    </il>
    <il>
      Distance: <%= store.distance %>
    </il>
    <il>
      Phone: <%= store.phone %>
    </il>
    <il>
      Store type: <%= store.store_type %>
    </il>
  </il>
  <% end %>
</li>
